.favorite
  - if favorite = current_user.favorited(post)
    = link_to [topic, post, favorite], class: 'btn btn-small', method: :delete do
      %i.icon-star-empty
      &nbsp; Unfavorite
  - else
    = form_for [topic, post, Favorite.new] do |f|
      = button_tag type: 'submit', class: 'btn btn-small' do
        %i.icon-star
        &nbsp; Favorite
